.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}

.footer_text{
    color: rgba(255, 255, 255, 0.735);
    line-height: 30px;
}

.footer_links ul li{
    background: transparent !important;
}


.footer_links ul li a{
    color: rgba(255, 255, 255, 0.735);
}

.links_title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.footer_contact li span , .footer_contact li p{
    color: rgba(255, 255, 255, 0.735);
}

.footer_contact li span{
    font-size: 1.2rem;
}

.footer_contact li p {
    font-size: 0.9em;
}

.footer_copyright{
    color: #fff;
    font-size: 0.9rem;
    margin-top: 40px;
    text-align: center;
}
